<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="stylesheets/index.css">
    <script rel="script" type="text/javascript" src="js/test.js"></script>
</head>
<body>
<p class="custom_p">Uncle Crappy's Craps Shack</p>
<div class="roll_div" align="center">
    <a class="rollButton" id="rollBtn" type="button" onclick="die_roll()">Roll Craps!</a>
</div>
<div class="roll_div">
    <img src="images/dice-png-5.png" id="die_one" width=250pt height=250pt style="margin-top: 40pt; margin-right: 25pt">
    <img src="images/dice-png-2.png" id="die_two" width=250pt height=250pt style="margin-top: 40pt; margin-left: 25pt">
</div>
<div>
</div>
</body>
</html>